In [6]:
# Import dependencies
import pandas as pd
import numpy as np
from pprint import pprint
import re
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
summary = crowdfunding_info_df.describe()
print(summary)

             cf_id   contact_id           goal        pledged  backers_count  \
count  1000.000000  1000.000000    1000.000000    1000.000000    1000.000000
mean   1585.743000  3751.434000   43983.100000   42748.055000     727.005000
std     926.944534  1431.743284   58962.425595   57415.481551    1137.723135
min      23.000000  1235.000000     100.000000       0.000000       0.000000
25%     758.750000  2502.750000    4200.000000    5911.250000      86.000000
50%    1571.500000  3706.500000    8300.000000   11950.000000     184.500000
75%    2402.250000  4994.250000   80625.000000   66294.250000     923.750000
max    3209.000000  6234.000000  199200.000000  199110.000000    7295.000000

        launched_at      deadline
count  1.000000e+03  1.000000e+03
mean   1.610955e+09  1.627459e+09
std    1.330154e+07  9.072194e+06
min    1.579068e+09  1.609913e+09
25%    1.601507e+09  1.619672e+09
50%    1.611554e+09  1.627232e+09
75%    1.620018e+09  1.635224e+09
max    1.643695e+09  1.645596e+09

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [4]:
# Get the crowdfunding_info_df columns.
crowdfunding_info_df.columns

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [5]:
# Assign the category and subcategory values to category and subcategory columns.
category_subcategory_df = df['category & sub-category'].str.split('/', expand=True)
category_subcategory_df.columns = ['category', 'subcategory']
category_subcategory_df

NameError: name 'df' is not defined

In [ ]:
# Export the updated DataFrame to a CSV file
df.to_csv('updated_crowdfunding.csv', index=False)

NameError: name 'df' is not defined

In [ ]:
# Get the unique categories and subcategories in separate lists
unique_categories = np.unique(category_subcategory_df['category'])
unique_subcategories = np.unique(category_subcategory_df['subcategory'])
print(unique_categories)
print(unique_subcategories)

NameError: name 'category_subcategory_df' is not defined

In [ ]:
# Get the number of distinct values in the categories and subcategories lists
print(len(unique_categories))
print(len(unique_subcategories))

NameError: name 'unique_categories' is not defined

In [ ]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [ ]:
# Use a list comprehension to add "cat" to each category_id.
cat_ids = ["cat" + str(i) for i in range(1, 10)]
# Use a list comprehension to add "subcat" to each subcategory_id.
scat_ids = ["subcat" + str(i) for i in range(1, 25)]
print(cat_ids)
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [ ]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_dict = {'category_id': category_ids, 'category': unique_categories}
category_df = pd.DataFrame(category_dict)
# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name.
subcategory_dict = {'subcategory_id': subcategory_ids, 'subcategory': unique_subcategories}
subcategory_df = pd.DataFrame(subcategory_dict)

NameError: name 'unique_categories' is not defined

In [ ]:
category_df

NameError: name 'category_df' is not defined

In [ ]:
subcategory_df

NameError: name 'subcategory_df' is not defined

In [ ]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

NameError: name 'category_df' is not defined

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [ ]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [ ]:
# Rename the blurb, launched_at, and deadline columns.

In [ ]:
# Convert the goal and pledged columns to a `float` data type.

In [ ]:
# Check the datatypes

In [ ]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt

In [ ]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.


campaign_merged_df.tail(10)

NameError: name 'campaign_merged_df' is not defined

In [ ]:
# Drop unwanted columns

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,cat4,subcat4

In [ ]:
# Export the DataFrame as a CSV file. 
campaign_cleaned.to_csv("Resources/campaign.csv", index=False)

NameError: name 'campaign_cleaned' is not defined

### Extract the contacts.xlsx Data.

In [ ]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df.head()

           {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
0            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
1  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
2        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}
3          {"contact_id": 5650, "name": "Socorro Luna", "email": "socorro.luna@hotmail.com"}
4     {"contact_id": 5889, "name": "Carolina Murray", "email": "carolina.murray@knight.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 2: Use regex to create the contacts DataFrame.

In [15]:
contact_info_df = contact_info_df.copy()
contact_info_df.head()

,contact_info,contact_id,name,email
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765,Mariana Ellis,mariana.ellis@rossi.org
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187,Sofie Woods,sofie.woods@riviere.com
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199,Samuel Sorgatz,samuel.sorgatz@gmail.com

In [8]:
# Extract the four-digit contact ID number.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', names=['contact_info'])

contact_info_df['contact_id'] = contact_info_df['contact_info'].str.extract(r'"contact_id": (\d+)')

contact_info_df['contact_id'] = contact_info_df['contact_id'].astype(int)

contact_info_df.head()

,contact_info,contact_id
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199

In [9]:
# Check the datatypes.
print(contact_info_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
 1   contact_id    1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB
None

In [10]:
# Convert "contact_id" column to int64 data type
contact_info_df['contact_id'] = contact_info_df['contact_id'].astype('int64')

print(contact_info_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
 1   contact_id    1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB
None

In [11]:
# Extract the name of the contact and add it to a new column.
contact_info_df = contact_info_df.assign(name=contact_info_df['contact_info'].str.extract(r'"name": "([^"]+)"'))

contact_info_df.head()

,contact_info,contact_id,name
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661,Cecilia Velasco
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765,Mariana Ellis
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187,Sofie Woods
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941,Jeanette Iannotti
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199,Samuel Sorgatz

In [12]:
# Extract the email from the contacts and add the values to a new column.
email_pattern = r'[\w\.-]+@[\w\.-]+'
contact_info_df['email'] = contact_info_df['contact_info'].apply(lambda x: re.findall(email_pattern, x)[0])

contact_info_df.head()

,contact_info,contact_id,name,email
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765,Mariana Ellis,mariana.ellis@rossi.org
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187,Sofie Woods,sofie.woods@riviere.com
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199,Samuel Sorgatz,samuel.sorgatz@gmail.com

In [13]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.
contact_info_copy = contact_info_df[['contact_id', 'name', 'email']].copy()

pprint(contact_info_copy)

     contact_id                  name  \
0          4661       Cecilia Velasco
1          3765         Mariana Ellis
2          4187           Sofie Woods
3          4941     Jeanette Iannotti
4          2199        Samuel Sorgatz
..          ...                   ...
995        3684         Whitney Noack
996        5784  Gelsomina Migliaccio
997        1498   Evangelista Pereira
998        6073        Gareth Comolli
999        4939     Michelangelo Hess

                                         email
0                 cecilia.velasco@rodrigues.fr
1                      mariana.ellis@rossi.org
2                      sofie.woods@riviere.com
3                  jeanette.iannotti@yahoo.com
4                     samuel.sorgatz@gmail.com
..                                         ...
995             whitney.noack@laboratorios.org
996              gelsomina.migliaccio@junk.com
997  evangelista.pereira@thompson-peterson.biz
998                  gareth.comolli@tiscali.fr
999              michelangelo.hess@bouygtel.fr

[1000 rows x 3 columns]

In [22]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 

name_pattern = r'^(?P<first_name>\w+)\s+(?P<last_name>\w+)$'

contact_info_copy['first_name'] = contact_info_copy['name'].str.extract(name_pattern)['first_name']
contact_info_copy['last_name'] = contact_info_copy['name'].str.extract(name_pattern)['last_name']

# Drop the contact_name column
contact_info_copy.drop('name', axis=1, inplace=True)

pprint(contact_info_copy)

KeyError: 'name'

In [20]:
# Reorder the columns
new_column_order = ['contact_id', 'first_name', 'last_name', 'email']

contact_info_copy = contact_info_copy.reindex(columns=new_column_order)

print(contact_info_copy)

     contact_id    first_name   last_name  \
0          4661       Cecilia     Velasco
1          3765       Mariana       Ellis
2          4187         Sofie       Woods
3          4941      Jeanette    Iannotti
4          2199        Samuel     Sorgatz
..          ...           ...         ...
995        3684       Whitney       Noack
996        5784     Gelsomina  Migliaccio
997        1498   Evangelista     Pereira
998        6073        Gareth     Comolli
999        4939  Michelangelo        Hess

                                         email
0                 cecilia.velasco@rodrigues.fr
1                      mariana.ellis@rossi.org
2                      sofie.woods@riviere.com
3                  jeanette.iannotti@yahoo.com
4                     samuel.sorgatz@gmail.com
..                                         ...
995             whitney.noack@laboratorios.org
996              gelsomina.migliaccio@junk.com
997  evangelista.pereira@thompson-peterson.biz
998                  gareth.comolli@tiscali.fr
999              michelangelo.hess@bouygtel.fr

[1000 rows x 4 columns]

In [21]:
# Check the datatypes one more time before exporting as CSV file.
print(contact_info_copy.dtypes)

contact_id     int64
first_name    object
last_name     object
email         object
dtype: object

In [23]:
# Export the DataFrame as a CSV file. 

contact_info_copy.to_csv("Resources/contacts.csv", encoding='utf8', index=False)